#caixa {
    width: 300px;
    height: 300px;
    padding: 8px;
    margin: 20px;
    background: #009670;
    box-shadow: 20px 20px black; /* sombra na caixa */
}
#caixa h1{
    color: white;
    /*text-shadow: 20px 20p red*/
    text-shadow: 20px 20px 5px rgba(0,0,0,0.6) ; /*dessa forma da para fazer sombra na frase */
}